<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link href="../static/main.css" rel="stylesheet">
    <title>Data Collector App</title>
</head>
<body>
<div class="container">
    <h1>Collecting heights</h1>
    <h3>please fill the entries to get population statistics on height</h3>
    <div class="message">
        {{text | safe}}
    </div>
    <form action="{{url_for('success')}}" method="POST">
       <input title="Your email will be safe with us" placeholder="Enter your email address" type="email" name="email_name" required> <br>
        <input  title="Your data will be safe with us" type="number" min="50" max="300" placeholder="Enter height in cm" name="height_name"> <br>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>